/*Selector de jornadas*/
div.main div#selector {
    padding: 0vh;
    padding-top: 0%;
}

div.main div#menu h1 {
    width: 100vw;
    margin: auto;
    text-align: center;
}

div.main div#selector select {
    height: 5vh;
    width: 40vw;
    margin: 2px;
    border-radius: 1vh;
}

/*Tabla de clasificaciones*/
#clasificacion table {
    border-collapse: collapse;
    border: 2px solid black;
    width: 100%;
}

#clasificacion img {
    width: 7.5vw;
    height: 3vh;
    float: left;
    
}

div#clasificacion {
    padding: 3vw;
    display: flex;
}

#clasificacion th, #clasificacion td {
    border-bottom: 0.5vw solid black;
    text-align: center;
    align-items: center;
    padding: 0.7vh;
}

#clasificacion th {
    background-color: lightgray;
}