div#form {
    margin-bottom: 3vh;
}

#form label {
    width: fit-content;
    text-align: left;
    font-size: 2vh;
}

#form input {
    margin-left: 1.5vw;
    font-size: 2.25vh;
    height: 0.5vh;
    width: 35vw;
    border: 1px solid #ccc;
    padding: 2.5vh;
    border-radius: 2vw;
    text-align: center;
}