footer {
    background-color: rgba(128, 128, 128, 0.4);
    width: 100%; /* Asegura que cubra el ancho */
    padding-top: 2vh;
    margin-top: auto; /* ¡TRUCO CLAVE!: Empuja el footer al fondo en flexbox */
    min-height: 15vh; /* Un poco menos de 20vh para evitar scroll innecesario */
    flex-shrink: 0;   /* Evita que el footer se aplaste */
}
footer p {
    font-size: 20px;
    margin-bottom: 2vh;
}
.links ul  {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.links li {
    display: inline;
    margin-right: 15px;
}
.links {
    margin-bottom: 2vh;
}
.social-media{
    margin-bottom: 2vh;
}
div.social-media a img {
    width: 6vh;
    margin-left: 2vw;
    margin-right: 2vw;
}
