div.main div#menu{
    display: flex;
    padding: 3vh;
    align-items: center;
    align-content: center;
}

div.main div#menu img#menu_icon {
    width: 5vh;
    margin-top: 0px;
}

div.main div#menu h1 {
    width: 5vh;
    margin: auto;
    text-align: center;
}