div#login{
    margin-top: 10vw;
    display: flex;
    align-items: center;
    align-content: center;
}


div#login form {
    flex-direction: column;
    align-items: center;
    width: 100%;
}

input {
    margin: 1vh;
    border-radius: 5px;
    width: 80%;
    padding: 2.5vh;
    margin-top: 3vh;
    margin-bottom: 2vh;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 25px;
    text-align: center;
}

a {
    font-size: 20px;
}

footer{
    background-color: grey;
    height: 100%;
    padding-top: 3vh;
    margin-top: 5vh;
}
footer p {
    font-size: 20px;
    margin-bottom: 2vh;
}
.links ul  {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.links li {
    display: inline;
    margin-right: 15px;
}
.links {
    margin-bottom: 2vh;
}
.social-media{
    margin-bottom: 2vh;
}
div.social-media a img {
    width: 6vh;
    margin-left: 2vw;
    margin-right: 2vw;
}

