div#login{
    margin-top: 10vw;
    display: flex;
    align-items: center;
    align-content: center;
}


div#login form {
    flex-direction: column;
    align-items: center;
    width: 100%;
}

input {
    margin: 1vh;
    border-radius: 5px;
    width: 80%;
    padding: 2.5vh;
    margin-top: 3vh;
    margin-bottom: 2vh;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 25px;
    text-align: center;
}

a {
    font-size: 20px;
}


