select {
    font-size: 2.25vh;
    margin-bottom: 3.5vh;
    width: 30vh;
    border: none;
    padding: 2.1vh;
    border-radius: 20px;
    text-align: center;
}



div#equipo1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border: 0.3vw solid black;
    padding: 2vw;
    margin-bottom: 3vh;
}
div#botones i {
    width: 100%;
}



div#equipo2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border: 0.3vw solid black;
    padding: 2vw;
    margin-bottom: 5vh;
}