div.main div#menu h1 {
    width: 100vw;
    margin: auto;
    text-align: center;
}

div#img {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 4vh;
}

div#img img {
    height: 10vh;
    width: 10vw;
    border-radius: 50%;
    background-color: #ccc;
    padding: 1vh;
    margin: 1.5vw;
    object-fit: contain;
    
}

div#img form {
    display: flex;
    align-items: center;
}

input[type="file"]#selImg {
    display: block;
    width: 100%;
    padding: 1.5vh;
    border-radius: 1vh;
    color: transparent;
}

div#form {
    display: flex;
    justify-content: center;
    align-items: center;
}

div#form form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 75vw;
}

div#form label {
    width: 100vw;
    text-align: left;
    
}

div#form input[type="text"] {
    border-radius: 1vh;
    width: 75vw;
    height: 3.5vh;
    padding: 2.5vh;
    box-sizing: border-box;
    border: 1px solid #ccc;
    text-align: center;     
}

div#form input#sede {
    margin-bottom: 4.5vh;
}



div#form input[type="submit"] {
    width: 75vw;
    height: 4.5vh;
    margin: 2vh;
    background-color:#ccc;
    color: black;
    border-radius: 1vh;
    border-color: none;
}