div.main div#menu h1 {
    width: 100vw;
    margin: auto;
    text-align: center;
}

div#img img {
    height: 15vh;
    width: 35vw;
}

div#form label {
    width: 100vw;
    padding-bottom: 30vh;
}

div#form input[type="text"] {
    width: 50vw;
    
}

div#form input[type="submit"] {
    width: 75vw;
    height: 4.5vh;
    margin: 2vh;
    background-color: blueviolet;
    color: white;
    border-radius: 1vh;
    border-color: none;
}