body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex: 1;
  height: 100%;
}


.main {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 4px solid black;
    width: 400px;
    border-radius: 20px;
    margin-top: 0px;
    height: 100%;
}


.logo {
    margin-top: 100px;
    margin-bottom: 80px;
}

#logo {
    width: 75%;
    margin-top: 20px;
}

#botones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    font-size: 25px;
    margin-bottom: 5vh;
    width: 250px;
    border: none;
    padding: 20px;
    border-radius: 1vw;
    transition: all 0.2s ease-in;
}

button:hover {
    color: white;
    background-color: black;
    font-size: 35px;
    padding: 25px;
}

button:active {
    color: black;
    background-color: white;
}