body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex: 1;
  height: 100%;
  margin: 0;
}


.main {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid black;
    width: 100vw;
    border-radius: 20px;
    margin: 0px;
    height: 100vh
}


.logo {
    margin-top: 100px;
    margin-bottom: 80px;
}

#logo {
    width: 75%;
    margin-top: 30px;
}

#botones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    font-size: 25px;
    margin-bottom: 5vh;
    width: 250px;
    border: none;
    padding: 20px;
    border-radius: 1vw;
    transition: all 0.2s ease-in;
}

button:hover {
    color: white;
    background-color: black;
    font-size: 30px;
    padding: 25px;
}

button:active {
    color: black;
    background-color: white;
}

<<<<<<< HEAD
/*Estilos de la tabla de clasificación*/


/*Selector de jornadas*/
div.main div#selector {
    padding: 3vh;
}

div.main div#selector select {
    height: 5vh;
    width: 40vw;
    margin: 2px;
    border-radius: 1vh;
    
}

/*Tabla de clasificaciones*/
#clasificacion table {
    border-collapse: collapse;
    border: 2px solid black;
    width: 100%;
}

#clasificacion th, #clasificacion td {
    border-bottom: 2px solid black;
    text-align: center;
    padding: 12px;
}

#clasificacion th {
    background-color: lightgray;
}

/* Pagina login */
=======

/* Cabecera del nombre de la pagina */
>>>>>>> 0a8d65976877420212b3f83a0ba9298a342ea7fd

div.main div#menu{
    display: flex;
    padding: 3vh;
    align-items: center;
}

div.main div#menu img#menu_icon {
    width: 5vh;
    margin-top: 0px;
}

div.main div#menu h1 {
    width: 5vh;
    margin-left: 10vh;
<<<<<<< HEAD
}
=======
}

>>>>>>> 0a8d65976877420212b3f83a0ba9298a342ea7fd
