body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 4px solid black;
    width: 400px;
    border-radius: 20px;
    margin-top: 100px;
}

.logo {
    margin-bottom: 80px;
}

#logo {
    width: 55%;
    margin-top: 20px;
}

#botones {
    display: flex;
    flex-direction: column;
    margin: auto;
}

button {
    font-size: 25px;
    margin-bottom: 5vh;
    width: 250px;
    border: none;
    padding: 20px;
    border-radius: 1vw;
    transition: all 0.2s ease-in;
}

button:hover {
    color: white;
    background-color: black;
    font-size: 35px;
    padding: 25px;
}

button:active {
    color: black;
    background-color: white;
}

