body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex: 1;
  height: 100%;
  margin: 0;
}


.main {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid black;
    width: 100vw;
    border-radius: 20px;
    margin: 0px;
    height: 100vh
}


.logo {
    margin-top: 2vh;
    margin-bottom: 5vh;
}

#logo {
    width: 75%;
    margin-top: 30px;
}

#botones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    font-size: 25px;
    margin-bottom: 3.5vh;
    width: 250px;
    border: none;
    padding: 20px;
    border-radius: 1vw;
    transition: all 0.2s ease-in;
}

button:hover {
    color: white;
    background-color: black;
    font-size: 30px;
    padding: 25px;
}

button:active {
    color: black;
    background-color: white;
}

/* Pagina login */


